* {
  box-sizing: border-box;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(168, 170, 168, 0.582);
  /* background-color: rgb(219, 243, 219); -- old background 24Jul21 */
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Verdana, Helvetica Neue, Arial;
  font-size: 1.2em;
  line-height: 26px;
}

.header-container {
  border: 12px solid #494949;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #294969;
  /* background-image: url(../img/money1.jpg);  ---taking image out 24Jul21 */
}

.title {
  font-size:  2em; 
  text-align: center;
  color:  rgba(173, 212, 210, 0.842);
  font-weight: bolder;
  text-shadow:  0.07em 0 rgb(8, 125, 221), 0 0.07em whitesmoke, -0.07em 0 greenyellow, 0 -0.07em rgb(0, 0, 0);
  font-family: Times, "Times New Roman", Georgia, serif;
  letter-spacing: .12em;
  line-height: normal;
}

h1, h2{
  text-align: center;
}

/* navigation menu */
#nav-menu {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 1s ease-out;    
}

#nav-menu li {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin: 2px;
}

#nav-menu li a {
  padding: 6px 12px;
  border: 2.5px solid rgb(0, 0, 0);
  width: 100%;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  background: #e9aa6f;
  border-radius: 10px/20px;
}   

#nav-menu li a:hover {
  color: rgba(0, 0, 0, 0.767);
  border: 5px solid rgb(226, 255, 63);
  background-color: rgba(122, 120, 120, 0.726);
}

#menu-container {
  display: block;
  margin-left: auto;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  background-color: rgb(219, 243, 219);
  margin-bottom: 15px;
}


.column {
  width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    flex-direction: column;
    column-gap: normal;
    margin-bottom: 20px;
    font-size: 1.5rem;
}   

#column-1 {
  background-color: #caaeae;
  justify-content: start;
  align-items: center;
  flex-grow: 1.5;
}

#column-2 {
  display: flex;
  background-color: #c2aeca;
  justify-content: start;
  align-items: top;
  flex-grow: .5;
  height: fit-content;
}
#names {
  list-style: none;
display: in;
flex-direction: column;
justify-content: space-around;
padding: 0;
width: inherit;
text-align:center;
}
.t-list {
  line-height: auto;
  list-style-type:none;
}

aside {
  color: rgb(3, 3, 3);
  padding: 10px 5% 10px;
  border-top: 20px solid #e99d7fa6;
  background: #a5f0ce;
  margin-top: 2em;
}
h3{
  font-size: 19px;
  text-align: center;
  padding: none;
}

/* Footer*/

footer {
  font-size:  1.18em ; 
  text-align: center;
  color:  rgba(173, 212, 210, 0.842);
  font-weight: bolder;
  text-shadow:  0.07em 0 rgb(8, 125, 221), 0 0.07em whitesmoke, -0.07em 0 greenyellow, 0 -0.07em rgb(0, 0, 0);
  font-family: Times, "Times New Roman", Georgia, serif;
  letter-spacing: .12em;
  border-top: 20px solid #000;
  border: 12px solid #494949;
  background-color: #294969;
  display: flex;
  justify-content: center;
}

.footer.wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: right;
  flex-direction: column;
  display: flex;
}

article{
  text-align: left;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
a img {
  max-width: 100%;
  max-height: auto;
  display: block;
}


 /*************************
Clearfix
*************************/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*************************
Media Query
*************************/

  /*************************
  Media Query
  *************************/

  /* tablet view */
  @media only screen and (min-width: 600px) {
    .title {
      font-size:  2.8em; 
    }
    
    main {
        flex-direction: row;
        display: flex;
        padding: 0px;
        margin: 15px;
    }
    aside {
      float: right;
      width: auto;
    padding-bottom: 15px;
    flex-direction: row;
    display: flex;
    height: max-content;

    }
    .column {
      width: 75%;
      display: flex;
      font-size: 1.2rem;
      margin-top: 20px;
    }
    .column2 {
      display: flex;
      margin-top: 20px;
      margin-left: 10px;

    }
    .box {
      width: 500px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: inherit;
    }
    .box>* {
        flex: 1 1 160px;
    }
.t-list{
  font-size: .75em;
  padding: 10px;
}

  }



/* Deskktop view */

@media screen and (min-width: 800px) {
.title {
  font-size:  2.8em; 
}

main {
    flex-direction: row;
    display: flex;
    padding: 0px;
    flex: 0 0 33.3333%
}
aside {
    float: right;
    width: 28%;
  margin: 1%;
  flex-direction: column;
  display: flex;
  margin: 20px;
  padding: 0;
  flex-grow: 3;
  }
.column {
    width: 65%;
    display: flex;

}
.box {
      width: auto;
      display: flex;
      padding: 10px;
    }
    .box>* {
        flex: 0 0 33.3333%;
  }
/* navigation menu */
  #nav-menu {
  display: flex;
  flex-direction: row;
}

#nav-menu li a {
  max-width: 200px;
  border-radius: 70% / 0 0 70% 70%;    
  font-size: 1em;
}

#menu-container {
  display: none;
}
/*footer*/

article{
  font-size:  2.18em ; 
}

a{
  width: 10%;
  height: auto;
}

}